*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 250px;
    height: 200px;
    background-color: aqua;
    margin: auto;
    transition: .5s;
}
.box:hover{
    /* transform: translateY(50px); */
    /* transform: translateX(50px); */
    /* transform: translate(50px, 50px); */

    /* transform: rotate(180deg); */
    /* transform: rotateX(180deg);*/
    /*transform: rotateY(180deg); */

    /* transform: perspective(300px) rotateX(-45deg); */
    /* transform: perspective(300px) rotatey(-45deg); */

    /* transform: skewX(35deg); */
    /* transform: skewY(35deg); */

    /* transform: scaleX(1.5);*/
    /*transform: scaleY(0.5); */
    /* transform: scale(1.5); */
    /* transform: scale(1.5) translateY(100px) rotate(45deg); */


}